body {
    font-family: "lora", 'Lato', sans-serif;  
}
h1 {
    font-size: 3rem;
}
h3 {
    font-size: 1rem;
}   

  button:focus, input[type="button"]:focus {
    outline: none;
}
.links:hover {
    background-color:#eee;
    color: white;
    cursor: pointer;
  }


.headerContainer,
.tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
	text-align: center;
    padding: 0 2em;
}
.tabs{
    background: #eee;
}
.headerContainer{
    background: url('./images/bandimage.jpeg') no-repeat;
    background-size: 100%;
}
.titlesContainer{
    background-color:white;
    padding: 10px;
    border-radius: 35%;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background:green;
    justify-content: space-evenly;
    padding:5px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 0.1rem;
    font-family: "lora", 'Lato', sans-serif;  
    font-size: 1.5em;
    border-radius:35px;
}

/*Band*/
#tab-band{
    display: flex;
    flex-direction: row;
    align-items: center;

}
#text-band, #image-band{
    padding: 0px;
    border-radius: 25px;
    height:500px;
    width:600px;
    background-color:lightcoral;
    margin:10px;

}

#text-band{
    background-color:lightcoral;
}
#description-band{
    padding:15px;
}


/*gigs*/
#tab-gigs{
    display: flex;
    flex-direction: row-reverse;
    justify-content:flex-end;

}
#logo-images{
    display: flex;
    flex-direction: column;
    background-color:yellow;
    padding:20px;
    border-radius:25px;
}
#logo-image{
    width:60px;
    height:100px;
}
#gigs-text{
    background-color:yellow;
    padding:10px;
    margin:50px;
    justify-self:stretch;
    border-radius:25px;
}
#gigs-info{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

/*music*/
#songContainer{
    display:flex;
    flex-direction:row;
    background-color:yellow;
    padding:10px;
    border-radius:15px;
}
/*Merch*/
#tab-merch{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-evenly; 
}
#merch-container{
    border-radius:15px;
    background-color:yellow;
    padding:10px;
}
#buy-merch{
        color: black;
        text-decoration: none;
}
/*Band*/

