body {
    font-family: "lora", 'Lato', sans-serif;  
}
h1 {
    font-size: 3rem;
}
h3 {
    font-size: 1rem;
}   

a:link, a:visited{
    color:black;
    text-decoration-line: none;
   
  }

a:hover, a:active {
    color:white;
  }
.links:hover {
    background-color:#eee;
    color: white;
    cursor: pointer;
  }


.headerContainer,
.tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
	text-align: center;
    padding: 0 2em;
}
.tabs{
    background: #eee;
}
.headerContainer{
    background: url('https://upload.wikimedia.org/wikipedia/commons/7/74/Earth_poster_large.jpg') no-repeat;
    background-size: 100%;
}

.linksContainer {
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background: #fff;
    justify-content: space-evenly;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    letter-spacing: 0.1rem;
    font-family: "lora", 'Lato', sans-serif;  
    font-size: 1.5em;
}

/*Band*/
#tab-band{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

/*Band*/
/*Band*/
/*Band*/
/*Band*/

